*{
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.flex-column{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.box-style{
    padding: 8px 10px;
    border: 1px solid #886b6b;
    border-radius: 10px;
}

.font-size-1{
    font-size: 1.25rem;
    font-weight: 800;
}
input:focus{
    outline: none;
}
input:focus input::after{
    content: "";
    clear: both;
    display: block;
    height: 10px;
    background-color: blue;
    top: 10px;
}

header{
    background-color:  #2d2d2d;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

.logo-employers{
    color: #ffffff;
}

.logo-employers h5,
.logo-employers p {
    margin: 0;
}

.logo-employers h5{
    font-size: 1.75rem;
    font-weight: 600;
    text-align: right;
    letter-spacing: 2px;
}

.logo-employers p {
    font-size: 0.75rem;
    text-align: right;
    font-weight: lighter;
    letter-spacing: 0.25px;
}
.fa-question-circle{
    color: white;
    font-size: 1.25rem;
    font-weight: 100;
}

.bg-gray{
    background-color: #f3f2f1;
}
.progress-bar-status{
    background-color: #fff;
    width: 100%;
    height: 20px;
    margin-bottom: 30px;
}

.progress-bar-made{
    height: 20px;
    background-color: lightskyblue;
}

.header-info{
    background-color: #fff;
    height: 150px;
    border-radius: 20px;
    margin: 0 auto;
    width: 60%;
    padding: 0 20px;
    margin-bottom: 50px;
}

