
.sheet-content-container{
    background-color: #fff;
    
    border-radius: 20px;
    margin: 0 auto;
    width: 60%;
    padding: 30px 20px 0 20px;
}
.container-sm{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sheet-title{
    font-size: 1.75rem;
}

.sheet-header-img{
    background: url(../../../assets/img/Benefits.svg) no-repeat;
    background-position: 0 0;
    display: block;
    width: 300px;
    height: 150px;
}

.sheet-content{
    padding: 0 10px;
}

.sheet-content > div > div> span{
    font-size: 1.15rem;
    font-weight: 600;
    line-height: 2.5rem;
}

.btn-container{
    height: 120px;
    display: flex;
    align-items: center;
}
.button-group{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.back, .continue {
    font-weight: 600 !important;
}

.job-info{
    background-color: #f6f6f6;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.job-info > p {
    margin: 0;
    padding: 0;
}

.salary-banner {
    display: flex;
    align-items: center;
    height: 180px;
    background-color: #2557a7;
    color: white;
    margin: 40px 0;
}

#job-des{
    resize: none;
}