*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
}
.container{
    padding-left: 15px;
    border-bottom: 1px solid lightgray;
}

.hamburger-menu-wrap{
    display: none;
    
}
.burger-menu > .fa-bars,
.burger-menu > .noti-bell{
    font-size: 1.2rem;
}


.burger-menu-content{
    display: none;
    position: absolute;
    left: 0;
    padding-top: 10px;
}
.hamburger-menu-wrap > .logo{
    margin: 10px 0;
}
.main-wrap{
    display: flex;
    justify-content: space-between;
    margin: auto;    
}

.left-wrap, .right-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.noti-bell, .login, .register, .employer{
    padding: 0 15px;
}

.logo {
    font-weight: 600;
    font-size: 25px;
    color: blue;
    letter-spacing: 0.2rem;
}

.employer{
    color: #000000;
    font-size: 16px;
}

i.fa-bell, .fa-user-circle{
    color: #5d677a;
}

i.fa-chevron-down{
    font-size: 12px;
}

.menu{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-inside{
    list-style-type: none;
    align-items: center;
    width: 100%;
}

.menu li{
    padding: 0 15px;
    display: list-item;
}
.burger-inside li{
    margin-bottom: 10px;
}
.burger-inside li a{
    height: 40px;
    position: relative;
    display: block;
    line-height: 40px;
    padding: 0 15px;
}

.burger-inside > li:not(.employer-v2) > a:hover{
    background-color: lightgrey;
    color: #287ab9;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: gray;
}
.menu li a:link{
    text-decoration: none;
    color: gray;
}

.menu li a{
    position: relative;
}
.menu li a::before{
    z-index: 15;
    position: absolute;
    /*left: 0;*/
    bottom: -31px;
    height: 4px;
    width: 100%;
    background: #287ab9;
    content: "";
    opacity: 0;
    transition: 0.4s ease-in-out all;
}

.menu li a:hover::before{
    opacity: 100;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.sjob-mini-dropdown{
    display: none;
}

.sjob-mini-dropdown ul{
    list-style-type: none;
}
.sjob-mini-dropdown ul li a{
    margin-left: 15px;
}
.sjob-mini-dropdown ul li a:hover{
    letter-spacing: 0.2rem;
    color: #287ab9;
    transition: 0.5s 0.3s ease-in-out;
}

.dropdown:hover .sjob-mini-dropdown{
    display: block;
}
.sjob-dropdown-content{
    display: none;
    position: absolute;
    padding-top: 30px;
    width: 100%;
    min-width: 200px;
}
.sjob-dropdown-content ul{
    list-style-type: none;
    padding: 0;
    background: #fff;
    box-shadow: 0 2px 14px rgba(46,46,46,0.5);
}

.sjob-dropdown-content > ul li{
    padding: 0;
    margin-bottom: 5px;
}

.sjob-dropdown-content > ul li a{
    padding-left: 15px;
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
}

.sjob-dropdown-content ul li a:hover::before{
    opacity: 0;
}

.sjob-dropdown-content ul li a:hover{
    background-color: lightgray;
}

.dropdown:hover .sjob-dropdown-content{
    display: block;
}

.employer-v2{
    background-color: #182642;
    padding: 20px 15px;
    color: #ffffff;
}
.employer-v2 p, h4{
    margin: 0;
}

.employer-v2 h4{
    color: #ffffff;
}

.employer {
    background-color: #182642;
    padding: 20px 15px;
    color: #ffffff;
}

.employer p, h4{
    margin: 0;
}

.employer h4{
    color: #ffffff;
}

.employer p{
    font-size: 14px;
    color: lightgray;
    padding-top: 4px;
}

.employer:hover .employer-dropdown-content{
    display: block;
}
.employer-dropdown-content{
    display: none;
    position: absolute;
    right:0;
    padding-top: 20px;
    /*width: 100%;*/
    min-width: 210px;
}
.employer-dropdown-content ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #fff;
    box-shadow: 0 2px 14px rgba(46,46,46,0.5);
}

.employer-dropdown-content > ul li{
    padding: 0;
    margin-bottom: 5px;
}

.employer-dropdown-content > ul li a{
    padding-left: 15px;
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
}

.employer-dropdown-content > ul li a:link, a:active, a:visited{
    color: #182642;
    font-weight: 600;
}

.employer-dropdown-content ul li a:hover::before{
    opacity: 0;
}

.employer-dropdown-content ul li a:hover{
    background-color: lightgray;
}

.login{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

main{
    padding-top: 78px;
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.main-container::before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #4481eb, #04befe);
    top: 0;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}
.signin-form-zone{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 78px;
    left: 0;

}

.forms-container{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1/2;
    transition: 0.2s 0.7s ease-in-out;
}

form.signin-form{
    z-index: 2;
}

form.signup-form{
    z-index: 1;
    opacity: 0;
}

.input-field{
    display: flex;
    justify-content: flex-start;
    max-width: 380px;
    width: 100%;
    height: 55px;
    margin: 10px 0;
    background-color: #f0f0f0;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}
.input-field i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}

.btn{
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px 0;
    transition: .5s;
}

.btn:hover{
    background-color: #4d84e2;

}

.social-text{
    padding: .7rem 0;
    font-size: 1rem;
    font-weight: 600;
}

.social-media{
    display: flex;
    justify-content: center;
}

.social-icon{
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: 0.45s;
}
.si-fb:hover{
    background-color: #287ab9;
    color: #fff;
    border-color: #287ab9;
}

.si-gg:hover{
    background-color: #e0215a;
    color: #fff;
    border-color: #e0215a;
}

.container-form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.title{
    font-size: 2.5rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
}
.title-center{
    text-align: center;
    color: #182642;
    font-size: 25px;
}

.box-shadow{
    width: 100%;
    height: 300px;
    background: #fff;
    box-shadow: 1px 1px 4px 0.5px rgba(46,46,46,0.5);
}

.panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 78px;
    left:0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.left-panel{
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content{
    color: #fff;
    transition: .9s .6s ease-in-out;
}
.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p{
    font-size: 0.9rem;
    padding: 0.7rem 0;
}

.btn.transparent{
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 40px;
    font-weight: 600;
    font-size: 0.8rem;
}

.btn.transparent:hover{
    color: #5995fd;
    background-color: #fff;
}
.image{
    width: 100%;
    transition: 1.1s .6s ease-in-out;
}

.right-panel .content, .right-panel .image{
    transform: translate(800px);
}


/* Handle Animation*/

.main-container.signup-mode::before{
    transform: translate(100%, -50%);
    right: 52%;
}

.main-container.signup-mode .left-panel .image,
.main-container.signup-mode .left-panel .content{
    transform: translateX(-800px);
}

.main-container.signup-mode .right-panel .image,
.main-container.signup-mode .right-panel .content{
    transform: translateX(0px);
}

.main-container.signup-mode .left-panel{
    pointer-events: none;
}

.main-container.signup-mode .right-panel{
    pointer-events: all;
}

.main-container.signup-mode .forms-container{
    left: 25%;
}

.main-container.signup-mode form.signin-form{
    z-index: 1;
    opacity: 0;
}

.main-container.signup-mode form.signup-form{
    z-index: 2;
    opacity: 1;
}


/* Responsive */

@media (max-width: 1040px){
    .left-wrap, .right-wrap{
        display: none;
    }
    .hamburger-menu-wrap{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
    }
    .burger-menu:hover .burger-menu-content{
        display: block;
        width: 250px;
        background-color: #fff;
    }
    .main-container{
        min-height: 800px;
        height: 100vh;
    }

    .main-container::before{
        width: 2000px;
        height: 2000px;
        left: 30%;
        bottom: 64%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
    }

    .forms-container{
        width: 100%;
        left: 50%;
        top: 78%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }
    .image{
        width: 200px;
        transition: 1.1s 0.6s ease-in-out;
    }
    .panels-container{
        
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    .left-panel{
        grid-row: 1/2;
    }
    .right-panel{
        grid-row: 3/4;
    }
    .panel{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
    }

    .panel .content{
        padding-right: 15%;
        transition: 0.9s 0.6s ease-in-out;
    }

    .panel h3{
        font-size: 1.2rem;
        padding: 0.5rem 0;
    }

    .btn.transparent{
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }
    .panel p{
        font-size: 0.7rem;
        padding: 0.7rem 0 1.2rem 0;
    }
    .right-panel .content, .right-panel .image{
        transform: translateX(300px);
    }

    .main-container.signup-mode::before{
        transform: translate(-50%, 100%);
        bottom: 26%;
        right: initial;
    }

    .main-container.signup-mode .left-panel .image,
    .main-container.signup-mode .left-panel .content{
        transform: translateY(-600px);
    }

    .main-container.signup-mode .forms-container{
        top: 10%;
        transform: translate(-50%, 0);
        left: 50%;
    }
}




@media (max-width: 570px){
    form{
        padding: 0 1.5rem;
    }

    .image{
        display: none;
    }
    .main-container::before{
        bottom: 60%;
        left: 50%;
    }

    .main-container.signup-mode::before{
        bottom: 25%;
        left: 50%;

    }
}