*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
}
.container-header{
    padding-left: 15px;
    border-bottom: 1px solid lightgray;
}

.hamburger-menu-wrap{
    display: none;
    
}
.burger-menu > .fa-bars,
.burger-menu > .noti-bell,
.burger-menu > .user,
.burger-menu > .message{
    font-size: 1.2rem;
}


.burger-menu-content{
    display: none;
    position: absolute;
    left: 0;
    padding-top: 10px;
}
.hamburger-menu-wrap > .logo{
    margin: 10px 0;
}
.main-wrap{
    display: flex;
    justify-content: space-between;
    margin: auto;    
}

.left-wrap, .right-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.noti-bell, .login, .register, .employer
{
    padding: 0 15px;
}
.user, .message{
    padding-right: 20px;
}
.logo {
    font-weight: 600;
    font-size: 25px;
    color: blue;
    letter-spacing: 0.2rem;
}

.employer{
    color: #000000;
    font-size: 16px;
}

i.fa-bell, .fa-user-circle{
    color: #5d677a;
}

i.fa-chevron-down{
    font-size: 12px;
}

.menu{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.burger-inside{
    list-style-type: none;
    align-items: center;
    width: 100%;
}

.menu li{
    padding: 0 15px;
    display: list-item;
}
.burger-inside li{
    margin-bottom: 10px;
}
.burger-inside li a{
    height: 40px;
    position: relative;
    display: block;
    line-height: 40px;
    padding: 0 15px;
}

.burger-inside > li:not(.employer-v2) > a:hover{
    background-color: lightgrey;
    color: #287ab9;
}

a:link, a:visited, a:active{
    text-decoration: none !important;
    color: gray;
}

.menu li a:link{
    text-decoration: none;
    color: gray;
}

.menu li a{
    position: relative;
}
.menu li a::before{
    z-index: 15;
    position: absolute;
    /*left: 0;*/
    bottom: -22px;
    height: 4px;
    width: 100%;
    background: #287ab9;
    content: "";
    opacity: 0;
    transition: 0.4s ease-in-out all;
}

.menu li a:hover::before{
    opacity: 100;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.sjob-mini-dropdown{
    display: none;
}

.sjob-mini-dropdown ul{
    list-style-type: none;
}
.sjob-mini-dropdown ul li a{
    margin-left: 15px;
}
.sjob-mini-dropdown ul li a:hover{
    letter-spacing: 0.2rem;
    color: #287ab9;
    transition: 0.5s 0.3s ease-in-out;
}

.dropdown:hover .sjob-mini-dropdown{
    display: block;
}
.sjob-dropdown-content{
    display: none;
    position: absolute;
    padding-top: 22px;
    width: 100%;
    min-width: 200px;
}
.sjob-dropdown-content ul{
    list-style-type: none;
    padding: 0;
    background: #fff;
    box-shadow: 0 2px 14px rgba(46,46,46,0.5);
}

.sjob-dropdown-content > ul li{
    padding: 0;
    margin-bottom: 5px;
}

.sjob-dropdown-content > ul li a{
    padding-left: 15px;
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
}

.sjob-dropdown-content ul li a:hover::before{
    opacity: 0;
}

.sjob-dropdown-content ul li a:hover{
    background-color: lightgray;
}

.dropdown:hover .sjob-dropdown-content{
    display: block;
}

.employer-v2{
    background-color: #182642;
    padding: 20px 15px;
    color: #ffffff;
}
.employer-v2 p, h4{
    margin: 0;
}

.employer-v2 h4{
    color: #ffffff;
}

.employer {
    background-color: #182642;
    padding: 20px 15px;
    color: #ffffff;
}

.employer p, h4{
    margin: 0;
}

.employer h4{
    color: #ffffff;
    font-size: 1rem !important;
}

.employer p{
    font-size: 14px;
    color: lightgray;
    padding-top: 4px;
}

.employer:hover .employer-dropdown-content{
    display: block;
}
.employer-dropdown-content{
    display: none;
    position: absolute;
    right:0;
    padding-top: 20px;
    /*width: 100%;*/
    min-width: 210px;
}
.employer-dropdown-content ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #fff;
    box-shadow: 0 2px 14px rgba(46,46,46,0.5);
}

.employer-dropdown-content > ul li{
    padding: 0;
    margin-bottom: 5px;
}

.employer-dropdown-content > ul li a{
    padding-left: 15px;
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
}

.employer-dropdown-content > ul li a:link, a:active, a:visited{
    color: #182642;
    font-weight: 600;
}

.employer-dropdown-content ul li a:hover::before{
    opacity: 0;
}

.employer-dropdown-content ul li a:hover{
    background-color: lightgray;
}


/*
   USER INFO STYLE
*/

.user-control{
    padding-top: 100px;
    
}
.profile-nav{
    padding: 30px;
}

.profile-info{
    height: 550px;
    padding: 30px 0;      
}

.panel{
    background-color: #fff;
    border-radius: 5px;
    border: 3px solid #fff;
    width: 100%;
    margin: auto;
}

.panel-right{
    
    width: 100%;
    margin: auto;
}
.user-heading{
    background-color:#fbc02d;
    border-radius: 4px 4px 0 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.user-heading .avatar{
    display: flex;
    justify-content: center;
}
.user-heading .user-basic-info{
    text-align: center;
    color: #fff;
    margin-top: 20px;
}
.user-heading a img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.user-heading a{
    border: 10px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    display: inline-block;
}

.nav{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 1px;
}

.nav li:hover{
    border-left: 3px solid #fbc02d;
    background-color: #f5f5f5;
}
.nav .active {
    border-left: 3px solid #fbc02d;
    background-color: #f5f5f5;
}
.nav>li>a{
    display: block;
    position: relative;
    padding: 10px 15px;
}
.nav>li{
    border-bottom: 1px solid #ebeae6;
    margin-top: 0;
    line-height: 30px;
}

.nav>li:last-child{
    border-bottom: none;
}
.contact-info,
.cv-info{
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
}

.contact-header{
    background-color: #fbc02d;
    border-radius: 4px 4px 0 0;
    border: 2px solid #fff;
}

.contact-header>h4{
    text-align: center;
    color: #fff;
    padding: 35px 30px;
}
.info-container{
    color: #89817e;
    padding: 40px 25px;
    display: inline-block;
}
.bio-row{
    width: 50%;
    float: left;
}
.bio-row>p{
    margin:0.5rem 0;
}
.info-container::before{
    content:" ";
    display: table;
}
.info-container .bio-row>p>span{
    width: 100px;
    display: inline-block;
}

.cv-info{
    margin-top: 20px;
}

.cv-header{
    background-color: #fbc02d;
    border-radius: 4px 4px 0 0;
    border: 2px solid #fff;
}
.cv-header>h4{
    text-align: center;
    color: #fff;
    padding: 35px 30px;
}

/*CV*/
.cv-details{
    padding: 30px;
}

.cv-title{
    color: #89817e;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid lightgrey;
}
.cv-title-tag{
    margin: 40px 0;
}
.intro>p{
    margin-bottom: 0;
}
.w-exp>p,
.edu>p{
    margin-bottom: 0;
}

.time{
    color: #89817e;
}

/* Handle Animation*/




/* Responsive */

@media (max-width: 1040px){
    .left-wrap, .right-wrap{
        display: none;
    }
    .hamburger-menu-wrap{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
        height: 68px;
    }
    .burger-menu:hover .burger-menu-content{
        display: block;
        width: 250px;
        background-color: #fff;
    }
    
}

@media (max-width: 570px){
    
}