/* Generic */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/* Display */
.inline		{ display: inline; }
.block		{ display: block; }

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}


/* Flex */
.flex-start		{ align-items: flex-start; }
.flex-center	{ align-items: center; }
.flex-end		{ align-items: flex-end; }

.flex-top		{ vertical-align: top; }
.flex-middle	{ vertical-align: middle; }
.flex-bottom	{ vertical-align: bottom; }


/* Align */
.t-left		{ text-align: left; }
.t-center	{ text-align: center; }
.t-right	{ text-align: right; }


/* Text style */
.bold			{ font-weight: bold; }
.medium-size	{ font-size: 1.5rem; }
.small-size		{ font-size: 0.5rem; }
.text-wrapping	{ word-wrap: break-word; }


/* Color */
.red		{ color: #E74C3C; }
.green		{ color: #27AE60; }
.blue		{ color: #008BFD; }
.orange		{ color: #E67E22; }
.grey		{ color: #95A5A6; }
.white		{ color: white; }


/* Background color */
.bg-red				{ background-color: #E74C3C; }
.bg-green			{ background-color: #27AE60; }
.bg-blue			{ background-color: #008BFD; }
.bg-orange			{ background-color: #E67E22; }
.bg-grey			{ background-color: #95A5A6; }
.bg-white			{ background-color: white; }
.bg-transparent		{ background-color: transparent; }


/* Margin */
.mt-h 	{ margin-top: 0.5rem; }
.ml-h 	{ margin-left: 0.5rem; }
.mr-h 	{ margin-right: 0.5rem; }
.mb-h 	{ margin-bottom: 0.5rem; }
.mx-h 	{ margin: 0 0.5rem; }
.my-h 	{ margin: 0.5rem 0; }
	
.mt-1 	{ margin-top: 1rem; }
.ml-1 	{ margin-left: 1rem; }
.mr-1 	{ margin-right: 1rem; }
.mb-1 	{ margin-bottom: 1rem; }
.mx-1 	{ margin: 0 1rem; }
.my-1 	{ margin: 1rem 0; }
	
.mt-2 	{ margin-top: 2rem; }
.ml-2 	{ margin-left: 2rem; }
.mr-2 	{ margin-right: 2rem; }
.mb-2 	{ margin-bottom: 2rem; }
.mx-2 	{ margin: 0 2rem; }
.my-2 	{ margin: 2rem 0; }
	
.mt-3 	{ margin-top: 3rem; }
.ml-3 	{ margin-left: 3rem; }
.mr-3 	{ margin-right: 3rem; }
.mb-3 	{ margin-bottom: 3rem; }
.mx-3 	{ margin: 0 3rem; }
.my-3 	{ margin: 3rem 0; }
	
.mt-4 	{ margin-top: 4rem; }
.ml-4 	{ margin-left: 4rem; }
.mr-4 	{ margin-right: 4rem; }
.mb-4 	{ margin-bottom: 4rem; }
.mx-4 	{ margin: 0 4rem; }
.my-4 	{ margin: 4rem 0; }
	
.mt-5 	{ margin-top: 5rem; }
.ml-5 	{ margin-left: 5rem; }
.mr-5 	{ margin-right: 5rem; }
.mb-5 	{ margin-bottom: 5rem; }
.mx-5 	{ margin: 0 5rem; }
.my-5 	{ margin: 5rem 0; }


/* Padding */
.pt-h 	{ padding-top: 0.5rem; }
.pl-h 	{ padding-left: 0.5rem; }
.pr-h 	{ padding-right: 0.5rem; }
.pb-h 	{ padding-bottom: 0.5rem; }
.px-h 	{ padding: 0 0.5rem; }
.py-h 	{ padding: 0.5rem 0; }
	
.pt-1 	{ padding-top: 1rem; }
.pl-1 	{ padding-left: 1rem; }
.pr-1 	{ padding-right: 1rem; }
.pb-1 	{ padding-bottom: 1rem; }
.px-1 	{ padding: 0 1rem; }
.py-1 	{ padding: 1rem 0; }
	
.pt-2 	{ padding-top: 2rem; }
.pl-2 	{ padding-left: 2rem; }
.pr-2 	{ padding-right: 2rem; }
.pb-2 	{ padding-bottom: 2rem; }
.px-2 	{ padding: 0 2rem; }
.py-2 	{ padding: 2rem 0; }
	
.pt-3 	{ padding-top: 3rem; }
.pl-3 	{ padding-left: 3rem; }
.pr-3 	{ padding-right: 3rem; }
.pb-3 	{ padding-bottom: 3rem; }
.px-3 	{ padding: 0 3rem; }
.py-3 	{ padding: 3rem 0; }
	
.pt-4 	{ padding-top: 4rem; }
.pl-4 	{ padding-left: 4rem; }
.pr-4 	{ padding-right: 4rem; }
.pb-4 	{ padding-bottom: 4rem; }
.px-4 	{ padding: 0 4rem; }
.py-4 	{ padding: 4rem 0; }
	
.pt-5 	{ padding-top: 5rem; }
.pl-5 	{ padding-left: 5rem; }
.pr-5 	{ padding-right: 5rem; }
.pb-5 	{ padding-bottom: 5rem; }
.px-5 	{ padding: 0 5rem; }
.py-5 	{ padding: 5rem 0; }


/* Sizing */
.full-width  { width: 100%; }
.full-height { height: 100%; }

.w-10	{ width: 10%; }
.w-20	{ width: 20%; }
.w-30	{ width: 30%; }
.w-40	{ width: 40%; }
.w-50	{ width: 50%; }
.w-60	{ width: 60%; }
.w-70	{ width: 70%; }
.w-80	{ width: 80%; }
.w-90	{ width: 90%; }

.h-10	{ height: 10%; }
.h-20	{ height: 20%; }
.h-30	{ height: 30%; }
.h-40	{ height: 40%; }
.h-50	{ height: 50%; }
.h-60	{ height: 60%; }
.h-70	{ height: 70%; }
.h-80	{ height: 80%; }
.h-90	{ height: 90%; }


/* Flexing size */
.flex-1  { flex: 1; }
.flex-2  { flex: 2; }
.flex-3  { flex: 3; }
.flex-4  { flex: 4; }
.flex-5  { flex: 5; }
.flex-6  { flex: 6; }
.flex-7  { flex: 7; }
.flex-8  { flex: 8; }
.flex-9  { flex: 9; }
.flex-10 { flex: 10;}
.flex-11 { flex: 11;}
.flex-12 { flex: 12;}


/* Panel */
.panel {
	background-color: white;
	padding: 1rem;
	border-radius: 1rem;
}


/***** Elements *****/
/* Button */
.btn {
    border-radius: .3rem;
    padding: .3rem;
    border-color: transparent;
}

/***** Specific element *****/
html {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;

}

body {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,166,238,1) 0%, rgba(113,223,252,1) 0%, rgba(0,104,255,1) 100%);
	margin: 2em auto;
    width: 40%;

}

form * {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
}
